.cart {
    width: 100%;
    font-size: 2rem;
    margin: 48px 0 60px;
    line-height: 1.6;
    text-align: center;
}

table tr td:nth-child(2) {
    width: 100px;
}

table tr td:nth-child(3) {
    text-align: left;
    padding: 0 8px;
}

.quantity {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity-control {
    width: 120px;
    display: flex;
    border: 1px solid var(--border-color);
    border-radius: 20px;
    overflow: hidden;
}

.quantity-btn {
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.quantity-btn:hover .quantity-btn-icon {
    color: var(--text-color);
}

.quantity-btn-icon {
    color: var(--border-color);
    padding: 10px;
}

.quantity-input {
    flex: 1;
    min-width: 40px;
    outline: none;
    border: none;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
    background-color: #fff;
}

.cart-btn {
    border: none;
    font-size: 1.6rem;
    font-weight:  700;
    background-color: transparent;
    cursor: pointer;
    color: #aaa;
}

.cart-btn:hover {
    color: var(--text-color);
}

.cart-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-empty-text {
    text-align: center;
    display: block;
    font-size: 3rem;
    padding-top: 48px;
    line-height: 1.6;
}

.cart-empty-btn {
    display: block;
    text-align: center;
    line-height: 42px;
    font-size: 2rem;
    margin: 48px 0;
}

.order-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f3f3f3;
    height: 60px;
}

.order {
    display: flex;
    justify-content: right;
    align-items: center;
}

.order-text {
    font-size: 2rem;
    color: var(--text-color);
    margin: 0 4px;
}

.order-price {
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-color);
}

.order-btn {
    display: block;
    text-align: center;
    line-height: 42px;
    font-size: 2rem;
}